<h1>This is a index action page of Jobs controller</h1>
<ul>
<% if signed_in? %>
	<% @jobs.each do |job| %>
		<li>
			<%= link_to job.description, job_path(job) if job.user_id == current_user.id %>
		</li>
	<% end %>
<% end %>
</ul>
