<h1>ship</h1>

<%= form_for @boat, url: boats_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>

  <%= form.submit %>
<% end %>


<% @boats.each do |boat| %>
 <%= image_tag boat.image.url(:medium) %>
<% end %>
